.Home {
    height: 100vh;
    overflow-y: hidden;
}

.Home .scrollDown {
    transform: translateY(-100vh);
    transition: all 0.5s ease-in-out;
}

.Home .bgimgs {
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home .bgimgs img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.Home .intro {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home .intro h1 {
    font-weight: normal;
    letter-spacing: 4px;
    color: white;
    margin: 0;
}

.Home .intro p {
    color: white;
}

.Home .intro input {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px;
    color: white;
    margin-left: 6px;
}

.Home .intro input::placeholder {
    color: white;
}

.Home .intro input[type=submit]:hover {
    background-color: grey;
    cursor: pointer;
}

.Home .intro button {
    margin-top: 12px;
    background-color: transparent;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 5%;
}

.Home .quicksearch {
    height: 100vh;

    display: flex;
    flex-direction: column;
}