@media screen and (max-width: 611px) {
    .container {
        flex-direction: column;
    }

    .container img {
        max-width: 100% !important;
        width: 100% !important;
    }
}

.container h4 {
    margin: 0;
}