.CatList {
    /* max-width: 980px; */
    background-color: #202124;
    border-bottom: 1px solid #202124;
    flex: 1;
    padding: 8px;
}

.CatList h3 {
    color: #bdc1c6;
    max-width: 980px;
    margin: auto;
}

.CatList span {
    font-weight: normal;
    color: #9aa0a6;
    font-size: 14px;
}

.CatList .cats {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
}

.CatList .cats li {
    flex: 1 0 calc(20% - 12px);
    list-style: none;
    border-radius: 5px;
    color: #bdc1c6;
}

.CatList .cats img {
    width: 100%;
}

.CatList p {
    margin: 0;
    margin-bottom: 5px;
}

.CatList .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.CatList .tags .tag {
    display: flex;
    padding: 3px;
    border-radius: 2.5px;
    font-size: 14px;
    color: #9aa0a6;
}

.CatList .pages-container {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 980px;
    margin: auto;
    padding: 12px;
    color: #bdc1c6;
}

.CatList .pages-container h1 {
    flex: 0 0 max-content;
}

.CatList .pages-container .pages {
    display: flex;
    align-items: center;
    overflow: auto;
    color: #bdc1c6;
}

.CatList .pages-container button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #bdc1c6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .CatList .cats li {
        flex: 1 0 calc(33% - 12px);
        max-width: calc(33% - 12px);
    }
}

@media screen and (max-width: 577px) {
    .CatList .cats li {
        flex: 1 0 calc(50% - 12px); /* -12px gap */
        max-width: calc(50% - 12px);
    }
}

@media screen and (max-width: 414px) {
    .CatList .cats li {
        flex: 1 0 100%; /* -12px gap */
        max-width: 100%;
    }
}